	<!-- =======================
	footer  -->
	<footer class="footer bg-light pt-6">
		<div class="footer-content pb-3">
			<div class="container">
				<div class="row">
					<!-- Footer widget 1 -->
					<div class="col-md-4">
						<div class="widget">
							<a href="index.html" class="footer-logo">
								<%= image_tag("https://glance-images.s3.ap-south-1.amazonaws.com/logo_footer.png", :class=> "img-responsive") %>
							</a>
							<p class="mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
						</div>
					</div>
					<!-- Footer widget 3 -->
					<div class="col-md-2 col-sm-6">
						<div class="widget">
							<ul class="nav flex-column primary-hover">
								<li class="nav-item"><a class="nav-link" href="">About</a></li>
								<li class="nav-item"><a class="nav-link" href="c">Services</a></li>
								<li class="nav-item"><a class="nav-link" href="">Portfolio</a></li>
								<li class="nav-item"><a class="nav-link" href="">Contact</a></li>
							</ul>
						</div>
					</div>
					<!-- Footer widget 3 -->
					<div class="col-md-2 col-sm-6">
						<div class="widget">
							<h6>Quick LInks</h6>
							<ul class="nav flex-column primary-hover">
								<li class="nav-item"><a class="nav-link" href="">Facebook</a></li>
								<li class="nav-item"><a class="nav-link" href="">Instagram</a></li>
								<li class="nav-item"><a class="nav-link" href="">Google</a></li>

							</ul>
						</div>
					</div>
					<!-- Footer widget 2 -->
					<div class="col-md-3 col-sm-6">
						<div class="widget address">
							<ul class="list-unstyled">
								<li class="media mb-3"><i class="mr-3 display-8 ti-map-alt"></i>Ayyappa Society, Madhapur, Hyderabad -18, Telangana India.</li>
								<li class="media mb-3"><i class="mr-3 display-8 ti-headphone-alt"></i></li>
								<li class="media mb-3"><i class="mr-3 display-8 ti-email"></i>help@glance.com</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Footer widget 4 -->
			</div>
		</div>
	</footer>
	<!-- =======================
	footer  -->