	<!-- =======================
	header Start-->
	<header class="navbar-transparent navbar-primary navbar-sticky-on">

		<!-- Logo Nav Start -->
		<nav class="navbar navbar-expand-lg">
			<div class="container-fluid">
				<!-- Logo -->
				<a class="navbar-brand" href="/">
					<!-- SVG Logo Start -->
					<%= image_tag("https://glance-images.s3.ap-south-1.amazonaws.com/logo_footer.png", :class => "img-responsive logo", :alt => "Glance") %>
					<!-- SVG Logo End -->
				</a>
				<!-- Menu opener button -->
				<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"> </span>
			  </button>
				<!-- Main Menu Start -->
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="/">HOME</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/about">ABOUT</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/portfolio">PORTFOLIO</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/contact">CONTACT</a>
						</li>
					</ul>
				</div>
				<!-- Main Menu End -->

			</div>
		</nav>
		<!-- Logo Nav End -->
	</header>
	<!-- =======================
	header End-->
