
<!-- =======================
	header Start-->
<%= render 'home/navbar' %>
<!-- =======================
	header End-->

	<!-- =======================
	Banner innerpage -->
	<div class="innerpage-banner left bg-overlay-dark-7 py-7" style="background:url(https://glance-images.s3.ap-south-1.amazonaws.com/07.jpg) no-repeat; background-size:cover; background-position: center center;margin-top: 70px;">
		<div class="container">
			<div class="row all-text-white">
				<div class="col-md-12 align-self-center">
					<h1 class="about_title">VISION IS THE ART OF SEEING INVISIBLE</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- =======================
	Banner innerpage -->
	<!-- =======================
	About us -->
	<section style="padding-top: 1rem;padding-bottom: 0rem;">
		<div class="container h-100">
			<div class="row mt-4">
				<div class="col-md-12" style="font-size: 16px;">
					<div class="feature-box-desc">Interior Design is all about how we experience spaces. It’s a powerful essential part of our daily lives and affects how we live, work, play and even heal. Comfortable homes, Functional Work Spaces, Beautiful Public Spaces - that’s where we come into picture.</p>
					</div>
					<br>
					<h3>INTERIOR DESIGNER:</h3>
					<div class="feature-box-desc">An interior designer is someone who plans, researches, coordinates, and manages the project. The designer see to it that the design executes as Planned.</p>
					</div>
					<div class="text-center">
							“THE KEY TO GREAT DESIGN IS CAPTURIZING THE SPIRIT OF THE CLENT AND THE ESSENCE OF THE SPACE”
					</div>
					<!-- <br>
					<h3>CONCEPT DESIGNING:</h3>
					<div class="feature-box-desc">Conceptual design is an early phase of the design process. Once the layout gets finalized then we start the Concept design. It involves the Client needs & requirements, Our ideas, Space Planning along with following the basic rules of interior design & Vaastu and most importantly what the place can “HOLD”.</p>
					</div>
					<br>
					<h3>TURNKEY PROJECTS:</h3>
					<div class="feature-box-desc">It’s always better to have an expert on your side in this field. We give you the privilege of relaxing & not disturbing your daily life by taking up the whole project into our hands and execute it. As we have a much expertized technical team with us, it will be easy & safe for you to rely on us. </p>
					</div>
					<br>
					<h3>MARKET GUIDENCE:</h3>
					<div class="feature-box-desc">We should be aware of what kind of quality & material we are using for our own place. The best Brands, Quality, Aesthetic, Comfortability and Durability should be considered in each and every aspect. So we provide complete guidance (From Tiles to Handles) for that as we know the vendors & labors, where & what materials we should opt for. </p>
					</div>
					<br>
					<h3>INTERIOR DESIGNING:</h3>
					<div class="feature-box-desc">Interior design in simple words is to make the living in a comfortable way. And also for enhancing the interiors, sometimes including the exterior, of a space or building, to achieve a healthier and more aesthetically pleasing environment for the end user. It is a multifaceted profession that includes conceptual development, space planning, site inspections, programming, research, communicating with the stakeholders of a project, construction management, and execution of the design.</p>
					</div> -->
				</div>
			</div>
			<!-- row end -->
		</div>
	</section>
	<!-- =======================
	About us -->

	<!-- =======================
	Team -->
	<section class="team social-hover team-overlay pb-0">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 mx-auto">
					<div class="title text-center">
						<span class="pre-title">They are all professionals</span>
						<h2>Creative Team</h2>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 align-self-center ">
					<div class="title text-left">
						<h5 class="text-primary"> Name of the Head</h5>
						<span class="team-position" style="margin-bottom: 20px;">Designation</span>
						<p class="mb-0" style="margin-top: 20px;margin-bottom: 20px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>

						<p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					</div>
				</div>
				<div class="col-md-6  mx-md-auto align-self-center">
					<%= image_tag('https://glance-images.s3.ap-south-1.amazonaws.com/leader.jpg', :class => "img-fluid", :alt => "Glance") %>
				</div>
			</div>
			<!-- row end -->

			<div class="row" style="margin-top: 70px;">
				<!-- Team item -->
				<!-- <div class="col-sm-6 col-md-3">
					<div class="team-item text-center">
						<div class="team-avatar cus_team">
							<%= image_tag('https://glance-images.s3.ap-south-1.amazonaws.com/t1.png', :alt => "Glance") %>
						</div>
						<div class="team-desc">
							<h5 class="team-name">Name</h5>
							<span class="team-position">Designation</span>
						</div>
					</div>
				</div> -->
				<!-- Team item -->
				<!-- <div class="col-sm-6 col-md-3">
					<div class="team-item text-center">
						<div class="team-avatar cus_team">
							<%= image_tag('https://glance-images.s3.ap-south-1.amazonaws.com/t2.png', :alt => "Glance") %>
						</div>
						<div class="team-desc">
							<h5 class="team-name">Name</h5>
							<span class="team-position">Designation</span>
						</div>
					</div>
				</div> -->
				<!-- Team item -->
				<!-- <div class="col-sm-6 col-md-3">
					<div class="team-item text-center">
						<div class="team-avatar cus_team">
							<%= image_tag('https://glance-images.s3.ap-south-1.amazonaws.com/t3.png', :alt => "Glance") %>
						</div>
						<div class="team-desc">
							<h5 class="team-name">Name</h5>
							<span class="team-position">Designation</span>
						</div>
					</div>
				</div> -->
				<!-- Team item -->
				<!-- <div class="col-sm-6 col-md-3">
					<div class="team-item text-center">
						<div class="team-avatar cus_team">
							<%= image_tag('https://glance-images.s3.ap-south-1.amazonaws.com/t4.png', :alt => "Glance") %>
						</div>
						<div class="team-desc">
							<h5 class="team-name">Name</h5>
							<span class="team-position">Designation</span>
						</div>
					</div>
				</div> -->
			</div>

			<div class="row">
				<!-- Team item -->
				<!-- <div class="col-sm-6 col-md-3">
					<div class="team-item text-center">
						<div class="team-avatar cus_team">
							<%= image_tag('https://glance-images.s3.ap-south-1.amazonaws.com/t1.png', :alt => "Glance") %>
						</div>
						<div class="team-desc">
							<h5 class="team-name">Name</h5>
							<span class="team-position">Designation</span>
						</div>
					</div>
				</div> -->
				<!-- Team item -->
				<!-- <div class="col-sm-6 col-md-3">
					<div class="team-item text-center">
						<div class="team-avatar cus_team">
							<%= image_tag('https://glance-images.s3.ap-south-1.amazonaws.com/t2.png', :alt => "Glance") %>
						</div>
						<div class="team-desc">
							<h5 class="team-name">Name</h5>
							<span class="team-position">Designation</span>
						</div>
					</div>
				</div> -->
				<!-- Team item -->
				<!-- <div class="col-sm-6 col-md-3">
					<div class="team-item text-center">
						<div class="team-avatar cus_team">
							<%= image_tag('https://glance-images.s3.ap-south-1.amazonaws.com/t3.png', :alt => "Glance") %>
						</div>
						<div class="team-desc">
							<h5 class="team-name">Name</h5>
							<span class="team-position">Designation</span>
						</div>
					</div>
				</div> -->
				<!-- Team item -->
				<!-- <div class="col-sm-6 col-md-3">
					<div class="team-item text-center">
						<div class="team-avatar cus_team">
							<%= image_tag('https://glance-images.s3.ap-south-1.amazonaws.com/t4.png', :alt => "Glance") %>
						</div>
						<div class="team-desc">
							<h5 class="team-name">Name</h5>
							<span class="team-position">Designation</span>
						</div>
					</div>
				</div> -->
			</div>
			<!-- row end -->
			<!-- <div class="row">
				<div class="col-12 col-lg-8 mx-auto text-center mt-5">
					<h6>We are hiring! Join our team Creative Agency Specializing in: Video Production, Web Design, Branding, Brand Strategy.</h6>
					<a class="btn btn-grad" href="#!">Apply now!</a>
				</div>
			</div> -->
		</div>
	</section>
	<!-- =======================
	Team -->
	<!-- =======================
	Clients -->
	<section class="position-relative bg-light">
		<div class="container-fluid">
			<div class="row text-center">
				<div class="xyz">
					<div class="feature-box h-100 text-center">
						<div class="feature-box-icon"><%= image_tag('03.png', :class => "w-50", :alt => "Glance") %></div>
					</div>
				</div>
				<div class="xyz">
					<div class="feature-box h-100 text-center">
						<div class="feature-box-icon"><%= image_tag('02.png', :class => "w-50", :alt => "Glance") %></div>
					</div>
				</div>
				<div class="xyz">
					<div class="feature-box h-100 text-center">
						<div class="feature-box-icon"><%= image_tag('01.png', :class => "w-50", :alt => "Glance") %></div>
					</div>
				</div>
				<div class="xyz">
					<div class="feature-box h-100 text-center">
						<div class="feature-box-icon"><%= image_tag('04.png', :class => "w-50", :alt => "Glance") %></div>
					</div>
				</div>
				<div class="xyz">
					<div class="feature-box h-100 text-center">
						<div class="feature-box-icon"><%= image_tag('03.png', :class => "w-50", :alt => "Glance") %></div>
					</div>
				</div>
			</div>
		</div>
		<!-- svg wave top-->
		<figure class="position-absolute top-0 left-0 w-100 d-none d-md-block ie-d-none mt-n3">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
						<path id="XMLID_4_" class="fill-light" d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"/>
					</svg>
		</figure>
		<!-- svg wave bottom-->
		<figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block ie-d-none mb-n3">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
						<path id="XMLID_4_" class="fill-white" d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"/>
					</svg>
		</figure>
	</section>
	<!-- =======================
	Clients -->
		<div class="container-fluid" style="margin-top: 50px;padding-left: 0px;padding-right: 0px;">
			<div class=""><%= image_tag('https://glance-images.s3.ap-south-1.amazonaws.com/team_grid.png', :class => "img-responsive", :alt => "Glance") %></div>
		</div>

<!-- =======================
	footer Start-->

<%= render 'home/footer' %>

<!-- =======================
	footer End-->
