
<!-- =======================
	header Start-->
<%= render 'home/navbar' %>
<!-- =======================
	header End-->

	<!-- =======================
	Banner innerpage -->
	<div class="innerpage-banner left bg-overlay-dark-7 py-7" style="background:url(https://glance-images.s3.ap-south-1.amazonaws.com/07.jpg) no-repeat; background-size:cover; background-position: center center;margin-top: 70px;">
		<div class="container">
			<div class="row all-text-white">
				<div class="col-md-12 align-self-center">
					<h1 class="about_title">Get In Touch</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- =======================
	Banner innerpage -->


	<!-- =======================
	contact -->
	<section class="contact-page">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 mx-auto">
					<div class="title text-center">
						<h4>Have a project? Let's make something great together</h4>
						<p>Get in touch with us to see how we can help you with your project</p>
					</div>
				</div>
			</div>
			<div class="row ">
				<!-- contact form -->
				<div class="col-md-6">
					<div class="h-100 _form_s">
						<form class="contact-form" method="post" action="/send_contact">
							<!-- Start form message -->
							<div class="row">
								<div class="col-12">
									<div class="alert alert-success contact-msg" style="display: none" role="alert">
										Your message was sent successfully.
									</div>
								</div>
							</div>
							<!-- End form message -->

							<!-- Start main form -->
							<div class="row contact-form">
								<div class="col-md-12">
									<!-- name -->
									<span class="form-group _c">
										<input id="con-name" name="name" type="text" class="form-control _c" placeholder="Name" required="true">
									</span>
								</div>
								<div class="col-md-12">
									<!-- email -->
									<span class="form-group _c">
										<input id="con-mobile" name="phone" type="phone" class="form-control _c" placeholder="Mobile" required="true">
									</span>
								</div>
								<div class="col-md-12">
									<!-- email -->
									<span class="form-group _c">
										<input id="con-email" name="email" type="email" class="form-control _c" placeholder="E-mail">
									</span>
								</div>
								<div class="col-md-12">
									<!-- Subject -->
									<span class="form-group _c">
										<input id="con-subject" name="subject" type="text" class="form-control _c" placeholder="Subject" required="true">
									</span>
								</div>
								<div class="col-md-12">
									<!-- Message -->
									<span class="form-group _c">
										<textarea id="con-message" name="message" cols="40" rows="6" class="form-control _c" placeholder="Message"></textarea>
									</span>
								</div>
								<!-- submit button -->
								<div class="col-md-12 text-center"><button href="" type="submit" class="btn btn-glance2 text-white view-more">Send Request</button></div>
							</div>
							<!-- End main form -->
						</form>
					</div>
				</div>

								<div class="col-md-6">
					<div class="contact-box h-100 px-3 py-4">
						<!-- Phone -->
						<div class="contact-info all-text-white">
							<div class="contact-box-icon"><i class="ti-map-alt"></i></div>
							<h5 class="mb-2">Address</h5>
							<p>60ft Road, Ayyappa Society, Madhapur, Hyderabad - 500081, India.</p>
						</div>
						<!-- Email -->
						<div class="contact-info all-text-white">
							<div class="contact-box-icon"><i class="ti-email"></i></div>
							<h5 class="mb-2">E-mail</h5>
							<p>support@glancedi.com</p>
						</div>
						<!-- Phone -->
						<div class="contact-info all-text-white">
							<div class="contact-box-icon"><i class="ti-panel"></i></div>
							<h5 class="mb-2">Phone</h5>
							<p></p>
						</div>
					</div>
				</div>


			</div>
		</div>
	</section>
	<!-- =======================
	contact -->

	<!-- =======================
	more-info -->
	<section class="pt-0">
		<div class="container ">
			<div class="row justify-content-md-center">
				<div class="text-center">
					<h5 class="mb-1"> General communication</h5>
					<p>For general queries, including partnership opportunities, please email <a href="#">help@glancedi.com</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	more-info -->


<!-- =======================
	footer Start-->

<%= render 'home/footer' %>

<!-- =======================
	footer End-->

<script>
$(".contact-form").submit(function(e){
	e.preventDefault();
		var $a = $.ajax({
	           type: 'POST',
	           url: '/send_contact',
	           data:{
				        'name' : $("input[name='name']").val(),
				        'mobile' : $("input[name='phone']").val(),
						'email': $("input[name='email']").val(),
						'subject': $("input[name='subject']").val(),
						'message': $("textarea").val()
				     },
    });
    $a.then(function(data, textStatus, jqXHR) {
				$(".contact-msg").alert();
    }, function(jqXHR, textStatus, errorThrown) {
       alert(JSON.parse(jqXHR.responseText).message);
    });
});
</script>
