	<!-- =======================
	header Start-->
	<header class="navbar-sticky navbar-transparent navbar-primary">

		<!-- Logo Nav Start -->
		<nav class="navbar navbar-expand-lg">
			<div class="container-fluid">
				<!-- Logo -->
				<a class="navbar-brand" href="/">
					<!-- SVG Logo Start -->
					<%= image_tag("https://glance-images.s3.ap-south-1.amazonaws.com/logo_footer.png", :class => "img-responsive logo", :alt => "Glance") %>
					<!-- SVG Logo End -->
				</a>
				<!-- Menu opener button -->
				<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"> </span>
			  </button>
				<!-- Main Menu Start -->
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="/">HOME</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/about">ABOUT</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/portfolio">PORTFOLIO</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/contact">CONTACT</a>
						</li>
					</ul>
				</div>
				<!-- Main Menu End -->

			</div>
		</nav>
		<!-- Logo Nav End -->
	</header>
	<!-- =======================
	header End-->

	<!-- =======================
	Main Banner -->
	<section class="p-0 position-relative height-800-responsive ie-height-800 pattern-overlay-1 overflow-hidden">
		<div class="container d-flex h-100">
			<div class="row align-self-center w-100">

				<!-- banner image -->
				<div class="col-md-12 d-none d-md-block p-0 position-absolute top-0 right-0 align-top align-text-top">
					<div id="banner_carousel" class="owl-carousel owl-theme">
						<div class="item">
							<%= image_tag("https://glance-images.s3.ap-south-1.amazonaws.com/commercial/MD+Room+View+1.jpg", :class=> "img-responsive") %>
						</div>
						<div class="item">
							<%= image_tag("https://glance-images.s3.ap-south-1.amazonaws.com/hospitality/Smoky+Pitara+5.jpg", :class=> "img-responsive") %>
						</div>
						<div class="item">
							<%= image_tag("https://glance-images.s3.ap-south-1.amazonaws.com/residential/DiningView_j.jpg", :class=> "img-responsive") %>
						</div>
						<div class="item">
							<%= image_tag("https://glance-images.s3.ap-south-1.amazonaws.com/residential/LivingRoom_p.jpg", :class=> "img-responsive") %>
						</div>
						<div class="item">
							<%= image_tag("https://glance-images.s3.ap-south-1.amazonaws.com/residential/KidsBedroomView1_m.jpg", :class=> "img-responsive") %>
						</div>
						<div class="item">
							<%= image_tag("https://glance-images.s3.ap-south-1.amazonaws.com/residential/Kitchen_m.jpg", :class=> "img-responsive") %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	Main banner -->

	<!-- =======================
	about us -->
	<section class="position-relative bg-light">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="col-12 col-lg-9 mx-auto">
					<div class="title text-center">
						<span class="pre-title">Welcome to our world</span>
						<h2>Glance Designers & Interiors</h2>
						<p class="mb-0 short_dec">Glance is a reputed Hyderabad based Interior Design Firm known for it's creative designs with lastest Trends. Founded in 2010, glance has worked for different industries and always has been at it's best.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- svg wave top-->
		<figure class="position-absolute top-0 left-0 w-100 d-none d-md-block ie-d-none mt-n3">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
						<path id="XMLID_4_" class="fill-light" d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"/>
					</svg>
		</figure>
		<!-- svg wave bottom-->
		<figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block ie-d-none mb-n3">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
						<path id="XMLID_4_" class="fill-white" d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"/>
					</svg>
		</figure>
	</section>
	<!-- =======================
	about us -->

	<!-- =======================
	service -->
	<section class="pb-3">
		<div class="container">

			<div class="row">
				<div class="col-md-6 align-self-center ">
					<div class="title text-left">
						<h5 class="text-primary">Our services</h5>
						<h2>We are a full service <span class="text-primary">Interior Design</span> firm that makes good ideas come to life.</h2>
						<p class="mb-0">We work in and around Interior Designing and help people build their dreams. We take pride in what we do and we present you the latest Designs.</p>
						<!-- <div class="list-group-inline list-group-number list-unstyled mt-4">
							<a href="#" class="list-group-item list-group-item-action"><span>01</span> Lorem Ipsum 1</a>
							<a href="#" class="list-group-item list-group-item-action"><span>02</span> Lorem Ipsum 2</a>
							<a href="#" class="list-group-item list-group-item-action"><span>03</span> Lorem Ipsum 3</a>
							<a href="#" class="list-group-item list-group-item-action"><span>04</span> Lorem Ipsum 4</a>
						</div> -->
					</div>
				</div>
				<div class="col-md-6">
					<div class="row mt-4 mt-md-0">
						<div class="col-7 pl-4 pr-2 mb-3">
							<%= image_tag('https://glance-images.s3.ap-south-1.amazonaws.com/s2.png', :class => "border-radius-3", :alt => "Glance") %>
						</div>
						<div class="col-5 align-self-end pl-2 mb-3">
							<%= image_tag('https://glance-images.s3.ap-south-1.amazonaws.com/s1.png', :class => "border-radius-3", :alt => "Glance") %>
						</div>
						<div class="col-5 offset-1 px-2 mb-3">
							<%= image_tag('https://glance-images.s3.ap-south-1.amazonaws.com/s3.png', :class => "border-radius-3", :alt => "Glance") %>
						</div>
						<div class="col-5 px-2 mb-3">
							<%= image_tag('https://glance-images.s3.ap-south-1.amazonaws.com/s4.png', :class => "border-radius-3", :alt => "Glance") %>
						</div>
					</div>
				</div>
			</div>
			<!-- row end -->
			<div class="row mt-7" style="margin-top: 60px;">
				<!-- process item-->
				<div class="col-md-3 mb-6">
					<div class="process">
						<div class="process-number">01.</div>
						<h3 class="process-title">INTERIOR DESIGNING</h3>
						<p class="process-content">We take care of enhancing the interiors, sometimes exterior, of a space or building, to achieve a pleasing environment for the end user. It is a multifaceted profession that includes conceptual development, space planning, site inspections, programming, research, communicating with the stakeholders of a project, construction management, and execution of the design.</p>
					</div>
				</div>
				<!-- process item-->
				<div class="col-md-3 mb-6">
					<div class="process">
						<div class="process-number">02.</div>
						<h3 class="process-title">MARKET GUIDANCE</h3>
						<p class="process-content">We should be aware of what kind of quality & material we are using for our own place. The best Brands, Quality, Aesthetic, Comfortability and Durability should be considered in each and every aspect. So we provide complete guidance (From Tiles to Handles) for that as we know the vendors & labors, where & what materials we should opt for.</p>
					</div>
				</div>
				<!-- process item-->
				<div class="col-md-3 mb-6">
					<div class="process">
						<div class="process-number">03.</div>
						<h3 class="process-title">TURNKEY PROJECTS</h3>
						<p class="process-content">It’s always better to have an expert on your side in this field. We give you the privilege of relaxing & not disturbing your daily life by taking up the whole project into our hands and execute it. As we have a much expertized technical team with us, it will be easy & safe for you to rely on us.</p>
					</div>
				</div>
				<!-- process item-->
				<div class="col-md-3 mb-6">
					<div class="process">
						<div class="process-number">04.</div>
						<h3 class="process-title">CONCEPT DESIGNING</h3>
						<p class="process-content">Conceptual design is an early phase of the design process. Once the layout gets finalized then we start the Concept design. It involves the Client needs & requirements, Our ideas, Space Planning along with following the basic rules of interior design & Vaastu and most importantly what the place can “HOLD”.</p>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- =======================
	service -->


	<!-- =======================
	Clients -->
	<section class="position-relative bg-light">
		<div class="container-fluid">
			<div class="row text-center">
				<div class="xyz">
					<div class="feature-box h-100 text-center">
						<div class="feature-box-icon"><%= image_tag('https://glance-images.s3.ap-south-1.amazonaws.com/03.jpg', :class => "w-50", :alt => "Glance") %></div>
					</div>
				</div>
				<div class="xyz">
					<div class="feature-box h-100 text-center">
						<div class="feature-box-icon"><%= image_tag('https://glance-images.s3.ap-south-1.amazonaws.com/02.jpg', :class => "w-50", :alt => "Glance") %></div>
					</div>
				</div>
				<div class="xyz">
					<div class="feature-box h-100 text-center">
						<div class="feature-box-icon"><%= image_tag('https://glance-images.s3.ap-south-1.amazonaws.com/01.jpg', :class => "w-50", :alt => "Glance") %></div>
					</div>
				</div>
				<div class="xyz">
					<div class="feature-box h-100 text-center">
						<div class="feature-box-icon"><%= image_tag('https://glance-images.s3.ap-south-1.amazonaws.com/04.jpg', :class => "w-50", :alt => "Glance") %></div>
					</div>
				</div>
				<div class="xyz">
					<div class="feature-box h-100 text-center">
						<div class="feature-box-icon"><%= image_tag('https://glance-images.s3.ap-south-1.amazonaws.com/04.jpg', :class => "w-50", :alt => "Glance") %></div>
					</div>
				</div>
			</div>
		</div>
		<!-- svg wave top-->
		<figure class="position-absolute top-0 left-0 w-100 d-none d-md-block ie-d-none mt-n3">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
						<path id="XMLID_4_" class="fill-light" d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"/>
					</svg>
		</figure>
		<!-- svg wave bottom-->
		<figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block ie-d-none mb-n3">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
						<path id="XMLID_4_" class="fill-white" d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"/>
					</svg>
		</figure>
	</section>
	<!-- =======================
	Clients -->


	<!-- =======================
	Portfolio -->
	<section class="portfolio portfolio-style-2 pb-0">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 mx-auto">
					<div class="title text-center">
						<span class="pre-title">Company Portfolio </span>
						<h2>Check our Featured Works</h2>
						<p class="mb-0">We have 200+ happy clients in 10+ different cities. We focus on representing the customer's thoughts with Business Trends according to the industry.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 p-0">
					<div class="portfolio-wrap grid items-3 items-padding">
						<!-- portfolio-card -->
						<div class="portfolio-card show">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Reception+%26+Billing.jpg" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/MD+Room+View+1.jpg" data-fancybox="lucid" data-caption="MD Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/MD+Room+View+2.jpg" data-fancybox="lucid" data-caption="Living Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Meeting+Room.jpg" data-fancybox="lucid" data-caption="Meeting Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Reception+%26+Billing.jpg" data-fancybox="lucid" data-caption="Reception/Billing">
									<h6 class="info-title"><a class="nutral">Lucid Labs</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
						<!-- portfolio-card -->
						<div class="portfolio-card show">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Sweet+Shop+View+1.jpg" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Arial+View.jpg" data-fancybox="sweet" data-caption="Living Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Centre+Display.jpg" data-fancybox="sweet" data-caption="Meeting Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Entrance+View.jpg" data-fancybox="sweet" data-caption="Reception/Billing">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Sweet+Display.jpg" data-fancybox="sweet" data-caption="Reception/Billing">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Sweet+Shop+View+1.jpg" data-fancybox="sweet" data-caption="MD Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Sweet+Shop+View+2.jpg" data-fancybox="sweet" data-caption="Living Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Sweet+Shop+View+4.jpg" data-fancybox="sweet" data-caption="Reception/Billing">
									<h6 class="info-title"><a class="nutral">Sweet Shop</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
						<!-- portfolio-card -->
						<div class="portfolio-card show">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/residential/DiningRoom_c.jpg" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/DiningRoom_c.jpg" data-fancybox="chai" data-caption="Dining Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/Kitchen_c.jpg" data-fancybox="chai" data-caption="Kitchen">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/LivingRoom_c.jpg" data-fancybox="chai" data-caption="Living Room">
									<h6 class="info-title"><a class="nutral">Chaitanya, SVC</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
						<!-- portfolio-card -->
						<div class="portfolio-card show">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/residential/GuestBedroom_ch.jpg" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/GuestBedroom_ch.jpg" data-fancybox="chet" data-caption="Guest Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/Kitchen_ch.jpg" data-fancybox="chet" data-caption="Kitchen">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/KidsBedroom_ch.jpg" data-fancybox="chet" data-caption="Kids Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/MasterBedroom_ch.jpg" data-fancybox="chet" data-caption="Master Bedroom">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/livingDiningLongview_ch.jpg" data-fancybox="chet" data-caption="Living & Dining">
									<h6 class="info-title"><a class="nutral">Chetan, Aparna Hill Park</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
						<!-- portfolio-card -->
						<div class="portfolio-card show">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/residential/DiningView_j.jpg" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/DiningView_j.jpg" data-fancybox="jemin" data-caption="Dining Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/KitchenView_j.jpg" data-fancybox="jemin" data-caption="Kitchen">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/KitchenView_j2.jpg" data-fancybox="jemin" data-caption="Kitchen">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/LivingFullView_j.jpg" data-fancybox="jemin" data-caption="Living Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/LivingRoom_j.jpg" data-fancybox="jemin" data-caption="Living Room">
									<h6 class="info-title"><a class="nutral">Jemin Shah, Necklace Pride</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
						<!-- portfolio-card -->
						<div class="portfolio-card show">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/residential/CrockeryUnit_n.jpg" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/BarCounter_n.jpg" data-fancybox="jemin" data-caption="Bar Counter">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/CrockeryUnit_n.jpg" data-fancybox="jemin" data-caption="Crockery Unit">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/HomeTheatre_n.jpg" data-fancybox="jemin" data-caption="Home Theatre">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/KidsBedroomView_n.jpg" data-fancybox="jemin" data-caption="Kids Bedroom">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/KidsBedroomView_n2.jpg" data-fancybox="jemin" data-caption="Kids Bedroom">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/Kitchen_n.jpg" data-fancybox="jemin" data-caption="Kitchen">
										<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/PoojaUnit_n.jpg" data-fancybox="jemin" data-caption="Pooja Unit">
									<h6 class="info-title"><a class="nutral">Niroop</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- portfolio wrap -->
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	Portfolio -->

	<!-- =======================
	Portfolio -->
	<section class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<a href="/portfolio" class="btn btn-glance view-more">See More</a>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	Portfolio -->

<div id="testimonial_link" style="padding: 40px;"></div>

	<!-- =======================
	action box -->
	<section class="p-0 position-relative height-600-responsive ie-height-600">
		<div class="container-fluid d-flex h-100">
				<!-- banner Content -->
				<div class="col-md-8 mt-md-0 all-text-white" style="z-index: 9;">
					<div class="owl-carousel owl-theme" id="testimonial">

						<div class="testimonial item">
							<blockquote class="blockquote mt cus_test" cite="#">
								<h5 class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</h5>
								<div class="user_img_g">
									<%= image_tag("user_1.png", :class=> "img-responsive user_img") %>
									<span>Ravi Raju, <small>Hyderabad</small></span>
								</div>
							</blockquote>
						</div>

						<div class="testimonial item">
							<blockquote class="blockquote mt cus_test" cite="#">
								<h5 class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry..</h5>
								<div class="user_img_g">
									<%= image_tag("user_2.png", :class=> "img-responsive user_img") %>
									<span>Raju, <small>Hyderabad</small></span>
								</div>
							</blockquote>
						</div>

						<div class="testimonial item">
							<blockquote class="blockquote mt cus_test" cite="#">
								<h5 class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</h5>
								<div class="user_img_g">
									<%= image_tag("user.png", :class=> "img-responsive user_img") %>
									<span>Amul, <small>Hyderabad</small></span>
								</div>
							</blockquote>
						</div>

					</div>
				</div>

				<div class="col-md-4 mt-md-0 all-text-white" style="z-index: 9;">
					<h3 style="color:#fff; margin-top: 30%;"><span class="sub_cls">Some Awesome</span><span style="font-weight: 400;">Words</span></h3>
				</div>
				<!-- banner image -->
				<div class="col-md-12 d-none d-md-block p-0 position-absolute top-0 right-0 align-top align-text-top">
					<%= image_tag("testimonial_bg2.png", :class=> "img-responsive") %>
				</div>

		</div>
	</section>
	<!-- =======================
	action box -->

<!-- =======================
	footer Start-->

<%= render 'home/footer' %>

<!-- =======================
	footer End-->

<div> <a href="#testimonial_link" class="back-top btn"><%= image_tag("https://glance-images.s3.ap-south-1.amazonaws.com/talk2.png") %></a> </div>

	<script type="text/javascript">
	// BEGIN: Sticky Header
    var stickyHeader = function() {
        var change_img = $('.logo');
        var sticky = $('.navbar-sticky'),
        stickyStatic = $('.header-static');
            $(window).scroll(function () {
                var scTop = $(document).scrollTop();
                if (scTop > 400) {
                    if (!$(".sticky-space").length) {
                        stickyStatic.after('<div class="sticky-space"></div>');
                        $(".sticky-space").css({'height': sticky.height() + 'px'});
                    }
                    sticky.addClass('navbar-sticky-on');
                    change_img.attr("src","https://glance-images.s3.ap-south-1.amazonaws.com/logo_footer.png");
                }
                else {
                    $(".sticky-space").remove();
                    sticky.removeClass('navbar-sticky-on');
                    change_img.attr("src","https://glance-images.s3.ap-south-1.amazonaws.com/logo_footer.png");
            }
        });
    };
    // END: Sticky Header

    // Carousel Testimonials

    $('#testimonial').owlCarousel({
    loop:true,
    margin:3,
    autoplay: true,
    rtl: true,
    dots: false,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:2
        },
        1000:{
            items:2.7
        }
    }
});
$('#banner_carousel').owlCarousel({
    loop:true,
    margin:3,
    rtl: true,
    dots: false,
    autoplay: true,
    autoplayHoverPause: true,
    nav:true,
    items:1
});

$(document).ready(function () {
          stickyHeader();
    });
	</script>
<script type="text/javascript" src="https://glance-files.s3.ap-south-1.amazonaws.com/jquery.fancybox.min.js"></script>
