<!-- =======================
	header Start-->
<%= render 'home/navbar' %>
<!-- =======================
	header End-->

	<!-- =======================
	Banner innerpage -->
	<div class="innerpage-banner left bg-overlay-dark-7 py-7" style="background:url(https://glance-images.s3.ap-south-1.amazonaws.com/07.jpg) no-repeat; background-size:cover; background-position: center center;margin-top: 70px;">
		<div class="container">
			<div class="row all-text-white">
				<div class="col-md-12 align-self-center">
					<h1 class="about_title">Portfolio</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- =======================
	Banner innerpage -->

	<section style="padding-top: 1rem;padding-bottom: 0rem;">
		<div class="container h-100">
			<div class="row mt-4">
				<div class="col-md-12" style="font-size: 16px;">
					<div class="feature-box-desc text-center">We have 200+ happy clients in 10+ different cities. We focus on representing the customer's thoughts with Business Trends according to the industry.</p>
					</div>
				</div>
			</div>
			<!-- row end -->
		</div>
	</section>


	<!-- =======================
	Portfolio -->
	<section class="portfolio portfolio-style-2 pb-0">
		<div class="container">
			<div class="row">
				<div class="col-md-12 p-0">
					<div class="nav justify-content-center">
						<ul class="nav-tabs nav-tabs-style-1 text-center px-2 p-md-0 m-0 mb-4" id="filterGroup">
							<li class="nav-filter active" onclick="filterSelection('all')">All Works</li>
							<li class="nav-filter" onclick="filterSelection('comm')">Commercial</li>
							<li class="nav-filter" onclick="filterSelection('resi')">Residential</li>
							<li class="nav-filter" onclick="filterSelection('hosp')">Hospitality</li>
						</ul>
					</div>
					<div class="portfolio-wrap grid items-3 items-padding">
						<!-- portfolio-card -->
						<div class="portfolio-card comm">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Reception+%26+Billing.jpg" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/MD+Room+View+1.jpg" data-fancybox="lucid" data-caption="MD Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/MD+Room+View+2.jpg" data-fancybox="lucid" data-caption="Living Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Meeting+Room.jpg" data-fancybox="lucid" data-caption="Meeting Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Reception+%26+Billing.jpg" data-fancybox="lucid" data-caption="Reception/Billing">
									<h6 class="info-title"><a class="nutral">Lucid Labs</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
						<!-- portfolio-card -->
						<div class="portfolio-card comm">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Sweet+Shop+View+1.jpg" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Arial+View.jpg" data-fancybox="sweet" data-caption="Living Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Centre+Display.jpg" data-fancybox="sweet" data-caption="Meeting Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Entrance+View.jpg" data-fancybox="sweet" data-caption="Reception/Billing">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Sweet+Display.jpg" data-fancybox="sweet" data-caption="Reception/Billing">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Sweet+Shop+View+1.jpg" data-fancybox="sweet" data-caption="MD Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Sweet+Shop+View+2.jpg" data-fancybox="sweet" data-caption="Living Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/Sweet+Shop+View+4.jpg" data-fancybox="sweet" data-caption="Reception/Billing">
									<h6 class="info-title"><a class="nutral">Sweet Shop</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
						<!-- portfolio-card -->
						<div class="portfolio-card resi">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/residential/DiningRoom_c.jpg" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/DiningRoom_c.jpg" data-fancybox="chai" data-caption="Dining Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/Kitchen_c.jpg" data-fancybox="chai" data-caption="Kitchen">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/LivingRoom_c.jpg" data-fancybox="chai" data-caption="Living Room">
									<h6 class="info-title"><a class="nutral">Chaitanya, SVC</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
						<!-- portfolio-card -->
						<div class="portfolio-card resi">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/residential/GuestBedroom_ch.jpg" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/GuestBedroom_ch.jpg" data-fancybox="chet" data-caption="Guest Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/Kitchen_ch.jpg" data-fancybox="chet" data-caption="Kitchen">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/KidsBedroom_ch.jpg" data-fancybox="chet" data-caption="Kids Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/MasterBedroom_ch.jpg" data-fancybox="chet" data-caption="Master Bedroom">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/livingDiningLongview_ch.jpg" data-fancybox="chet" data-caption="Living & Dining">
									<h6 class="info-title"><a class="nutral">Chetan, Aparna Hill Park</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
						<!-- portfolio-card -->
						<div class="portfolio-card resi">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/residential/DiningView_j.jpg" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/DiningView_j.jpg" data-fancybox="jemin" data-caption="Dining Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/KitchenView_j.jpg" data-fancybox="jemin" data-caption="Kitchen">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/KitchenView_j2.jpg" data-fancybox="jemin" data-caption="Kitchen">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/LivingFullView_j.jpg" data-fancybox="jemin" data-caption="Living Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/LivingRoom_j.jpg" data-fancybox="jemin" data-caption="Living Room">
									<h6 class="info-title"><a class="nutral">Jemin Shah, Necklace Pride</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
						<!-- portfolio-card -->
						<div class="portfolio-card resi">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/residential/CrockeryUnit_n.jpg" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/BarCounter_n.jpg" data-fancybox="niro" data-caption="Bar Counter">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/CrockeryUnit_n.jpg" data-fancybox="niro" data-caption="Crockery Unit">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/HomeTheatre_n.jpg" data-fancybox="niro" data-caption="Home Theatre">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/KidsBedroomView_n.jpg" data-fancybox="niro" data-caption="Kids Bedroom">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/KidsBedroomView_n2.jpg" data-fancybox="niro" data-caption="Kids Bedroom">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/Kitchen_n.jpg" data-fancybox="niro" data-caption="Kitchen">
										<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/PoojaUnit_n.jpg" data-fancybox="niro" data-caption="Pooja Unit">
									<h6 class="info-title"><a class="nutral">Niroop</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
						<!-- portfolio-card -->
						<div class="portfolio-card resi">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/residential/LivingRoom_p.jpg" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/KidsBedroomView_p.jpg" data-fancybox="premal" data-caption="Kids Bedroom">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/KidsBedroomView_p2.jpg" data-fancybox="premal" data-caption="Kids Bedroom">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/LivingDining_p.jpg" data-fancybox="premal" data-caption="Living/Dining">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/LivingRoom_p.jpg" data-fancybox="premal" data-caption="Living Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/KitchenView_p2.jpg" data-fancybox="premal" data-caption="Kitchen">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/KitchenView_p.jpg" data-fancybox="premal" data-caption="Kitchen">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/MasterBedroomView_p.jpg" data-fancybox="premal" data-caption="Master Bedroom">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/MasterBedroomView_p2.jpg" data-fancybox="premal" data-caption="Master Bedroom">
									<h6 class="info-title"><a class="nutral">Premal Damani</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
						<!-- portfolio-card -->
						<div class="portfolio-card resi">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/residential/CrockeryUnit_m.JPG" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/KidsBedroomView1_m.jpg" data-fancybox="mypi" data-caption="Kids Bedroom">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/CrockeryUnit_m.JPG" data-fancybox="mypi" data-caption="Crockery Unit">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/KidsBedroomView2_m.jpg" data-fancybox="mypi" data-caption="Kids Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/Kitchen_m.jpg" data-fancybox="mypi" data-caption="Kitchen">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/LivingRoomView1_m.JPG" data-fancybox="mypi" data-caption="Living Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/LivingRoomView2_m.jpg" data-fancybox="mypi" data-caption="Living Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/ParentsBedroom_m.jpg" data-fancybox="mypi" data-caption="Master Bedroom">
									<h6 class="info-title"><a class="nutral">Mypi Madhu, Kompally</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
						<!-- portfolio-card -->
						<div class="portfolio-card resi">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/residential/DiningRoom_ms.JPG" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/DiningRoom_ms.JPG" data-fancybox="sandes" data-caption="Dining room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/KidsBedroomView1_ms.jpg" data-fancybox="sandes" data-caption="Kids Bedroom">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/KidsBedroomView2_ms.jpg" data-fancybox="sandes" data-caption="Kids Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/Kitchen_ms.jpg" data-fancybox="sandes" data-caption="Kitchen">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/LivingRoomView1_ms.jpg" data-fancybox="sandes" data-caption="Living Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/LivingRoomView2_ms.jpg" data-fancybox="sandes" data-caption="Living Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/LivingRoomView3_ms.jpg" data-fancybox="sandes" data-caption="Living room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/MasterBedroomView1_ms.jpg" data-fancybox="sandes" data-caption="Master Bedroom">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/MasterBedroomView2_ms.jpg" data-fancybox="sandes" data-caption="Master Bedroom">
									<h6 class="info-title"><a class="nutral">Sandesh, Kakatiya Hills</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
						<!-- portfolio-card -->
						<div class="portfolio-card resi">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/residential/DiningRoom_s.JPG" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/DiningRoom_s.JPG" data-fancybox="sand" data-caption="Dining Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/KidsBedroom_s.jpg" data-fancybox="sand" data-caption="Kids Bedroom">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/Kitchen_s.JPG" data-fancybox="sand" data-caption="Kitchen">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/LivingRoom_s.JPG" data-fancybox="sand" data-caption="Living Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/MasterBedroom_s.JPG" data-fancybox="sand" data-caption="Master Bedroom">
									<h6 class="info-title"><a class="nutral">Sandeep, Rainbow Vistas</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
						<!-- portfolio-card -->
						<div class="portfolio-card comm">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/IMG_5618.JPG" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/IMG_5618.JPG" data-fancybox="sree" data-caption="">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/IMG_5636.JPG" data-fancybox="sree" data-caption="">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/IMG_5657.JPG" data-fancybox="sree" data-caption="">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/commercial/IMG_5670.JPG" data-fancybox="sree" data-caption="">
									<h6 class="info-title"><a class="nutral">Sreedar</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
						<!-- portfolio-card -->
						<div class="portfolio-card hosp">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/hospitality/Smoky+Pitara+7.jpg" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/hospitality/Smoky+Pitara+1.jpg" data-fancybox="smoky" data-caption="Living Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/hospitality/Smoky+Pitara+2.jpg" data-fancybox="smoky" data-caption="Meeting Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/hospitality/Smoky+Pitara+3.jpg" data-fancybox="smoky" data-caption="Reception/Billing">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/hospitality/Smoky+Pitara+4.jpg" data-fancybox="smoky" data-caption="Reception/Billing">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/hospitality/Smoky+Pitara+5.jpg" data-fancybox="smoky" data-caption="MD Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/hospitality/Smoky+Pitara+6.jpg" data-fancybox="smoky" data-caption="Living Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/hospitality/Smoky+Pitara+7.jpg" data-fancybox="smoky" data-caption="Reception/Billing">
									<h6 class="info-title"><a class="nutral">Smoky Pitara</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
						<!-- portfolio-card -->
						<div class="portfolio-card resi">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/residential/mstr.RGB_color.jpg" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/mstr.RGB_color.jpg" data-fancybox="sand" data-caption="Master Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/msopt21.jpg" data-fancybox="sand" data-caption="Master Bedroom">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/msopt2.jpg" data-fancybox="sand" data-caption="Master Bedroom">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/lvng2.jpg" data-fancybox="sand" data-caption="Living Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/lvng.jpg" data-fancybox="sand" data-caption="Living Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/kid.jpg" data-fancybox="sand" data-caption="Kids Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/kid1.jpg" data-fancybox="sand" data-caption="Kids Bedroom">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/tv.jpg" data-fancybox="sand" data-caption="Telivision Unit">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/mstr2.RGB_color.jpg" data-fancybox="sand" data-caption="Master Room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/k2.jpg" data-fancybox="sand" data-caption="Kitchen">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/k1.jpg" data-fancybox="sand" data-caption="Kitchen">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/dw.jpg" data-fancybox="sand" data-caption="Dining">
									<h6 class="info-title"><a class="nutral">Vijay Residence</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
						<!-- portfolio-card -->
						<div class="portfolio-card resi">
							<div class="portfolio-card-body">
								<div class="portfolio-card-header">
									<img src="https://glance-images.s3.ap-south-1.amazonaws.com/residential/b2.jpg" alt="">
								</div>
								<div class="portfolio-card-footer">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/b2.jpg" data-fancybox="jagan" data-caption="Master Bedroom">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/bb.jpg" data-fancybox="jagan" data-caption="Kids Bedroom">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/c1.jpg" data-fancybox="jagan" data-caption="Cupboard Section">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/d1.jpg" data-fancybox="jagan" data-caption="Dining">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/f1.jpg" data-fancybox="jagan" data-caption="Ceiling">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/k1.jpg" data-fancybox="jagan" data-caption="Kitchen">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/k2.jpg" data-fancybox="jagan" data-caption="Kitchen">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/l1.jpg" data-fancybox="jagan" data-caption="Living room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/l2.jpg" data-fancybox="jagan" data-caption="Living room">
									<a class="full-screen" href="https://glance-images.s3.ap-south-1.amazonaws.com/residential/l3.jpg" data-fancybox="jagan" data-caption="Living room">
									<h6 class="info-title"><a class="nutral">Jagan</a></h6>
									<p>Interior Design</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- portfolio wrap -->
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	Portfolio -->



	<!-- =======================
	call to action-->
	<section class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-9 text-center text-md-left align-self-center">
					<h4 class="m-0">Start a new project with us and start adventure together!</h4>
				</div>
				<div class="col-md-3 text-center text-md-right mt-3 mt-md-0 align-self-center ">
					<a class="btn btn-glance mb-0" href="/contact">Let's Discuss </a>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	call to action-->

	<!-- =======================
	Clients -->
		<div class="container-fluid" style="margin-top: 50px;padding-left: 0px;padding-right: 0px;">
			<div class=""><img class="img-responsive" src="https://glance-images.s3.ap-south-1.amazonaws.com/team_grid.png" alt="Glance"></div>
		</div>

<!-- =======================
	footer Start-->

<%= render 'home/footer' %>

<!-- =======================
	footer End-->
<script type="text/javascript" src="https://glance-files.s3.ap-south-1.amazonaws.com/jquery.fancybox.min.js"></script>
<script>
filterSelection("all");
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("portfolio-card");

  if (c == "all"){
    for (i = 0; i < x.length; i++) {
          addFilterCls(x[i], "show");
      }
  }
  else
      {
        for (i = 0; i < x.length; i++) {
          removeFilterCls(x[i], "show");
          // if (x[i].className.indexOf(c) > -1) {
          //   addFilterCls(x[i], "show");
          // }

          if (x[i].className.split(" ")[1] == c) {
            addFilterCls(x[i], "show");
          }
        }
    }
}

function addFilterCls(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function removeFilterCls(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("filterGroup");
var btns = btnContainer.getElementsByClassName("nav-filter");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>
