<!DOCTYPE html>
<html>
<head>
	<title>Contact Form</title>
	<style type="text/css">
		body{
			font-family: Verdana, Geneva, sans-serif;
		}
		p{
			padding: 0px 0px 0px 10px;
			font-size: 16px;
		}
		.footer-text{
			font-size: 13px;
		}
	</style>
</head>
<body>
	<div class="full-bg" style="width:100%; background-color: #f0f0f0;">
		<div class="container" style="background-color: #fff;">
			<table>
				<tr>
        			<th>Name</th>
					<td><%= @name %></td>
				</tr>
				<tr>
        			<th>Mobile</th>
					<td><%= @mobile %></td>
				</tr>
				<tr>
        			<th>Email</th>
					<td><%= @email %></td>
				</tr>
        		<tr>
        			<th>Subject</th>
					<td><%= @subject %></td>
				</tr>
        		<tr>
        		<th>Message</th>
					<td><%= @message %></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
